/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #0056b3;
  }
  
  .sort-buttons, .filter-sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .sort-buttons button, .filter-sort button, .filter-sort select {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sort-buttons button:hover, .filter-sort button:hover, .filter-sort select:hover {
    background-color: #0056b3;
  }
  
  .product-list, .cart-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    width: 30%;
    padding: 10px;
  }
  
  .product:hover {
    transform: scale(1.05);
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product h2, .cart-item-details h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
  }
  
  .product p, .cart-item-details p {
    font-size: 1.2em;
    color: #777;
  }
  
  .product button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .product button:hover {
    background-color: #218838;
  }
  
  .cart-item button, button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item button:hover, button:hover {
    background-color: #cc0000;
  }
  
  button.remove {
    background-color: #ff0000;
  }
  
  button.remove:hover {
    background-color: #cc0000;
  }
  
  .cart-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: transform 0.2s;
    width: 100%;
  }
  
  .cart-item:hover {
    transform: scale(1.02);
  }
  
  .cart-item img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .cart-total {
    text-align: right;
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  